@model TabloidMVC.Models.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "PostWithComment";
}

<h1>@Model.Post.Title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
        <thead>
            <tr>
                <th>
                  DisplayName
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.CreateDateTime)
                </th>
                <th></th>
            </tr>
        </thead>
    <tbody>
@foreach (var item in Model.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.DisplayName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Post/Details/Id">Back to List</a>
</div>
